<section class="w-full bg-white py-6 md:py-8 px-4 sm:px-6 lg:px-20">
  <div class="sm:flex items-stretch rounded-2xl sm:rounded-4xl lg:rounded-[100px] overflow-hidden">
    <div class="sm:w-1/3 bg-000000d9 flex items-center justify-center p-4">
      <div>
        <p class="text-white font-normal text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl mb-1">Located Your Nearest</p>
        <h6 class="text-white font-normal text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-4 sm:mb-8">Basith Store</h6>
        <a routerLink="#" class="bg-b37800 px-5 py-2 text-white text-xs sm:text-sm md:text-base lg:text-lg xl:text-[22px] rounded-full font-normal">Find Store</a>
      </div>
    </div>
    <div class="sm:w-2/3">
      <img class="w-full h-auto" src="/assets/images/home/store.png" alt="store">
    </div>
  </div>
</section>
