<div class="w-full bg-white py-6 md:py-8 px-4 sm:px-6 lg:px-20">
  <!-- Title section -->
  <h1
    class="capitalize text-xl/tight sm:text-2xl/tight md:text-3xl/tight lg:text-4xl/tight xl:text-5xl/tight font-semibold text-center text-b37800">
    Privacy Policy
  </h1>

  <div class="mt-4 md:mt-6 lg:mt-8 space-y-8">
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Collection of Personally Identifiable Information</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>We collect email address from you when you select email during the first app launch. This enables us to sync your wishlist and shopping cart already created by you on the our website. We also use your contact information to send you offers and recommendations based on your previous orders, your browsing history and your interests</li>
      </ul>
    </div>
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Use of Demographic and Profile Data</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>We use personal information to provide the services you request. We use your personal information to troubleshoot problems; collect fees owed; measure interest in our products and services, inform you about online and offline offers and customize your experience. In our efforts to continually improve our product and service offerings, we collect and analyze demographic and profile data about our users activity on our app. We identify and use your IP address to help diagnose problems with our server, and to administer our app.</li>
      </ul>
    </div>
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Security Precautions</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Our site has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access.</li>
      </ul>
    </div>
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Choice/Opt-Out</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>We provides all users with the opportunity to opt-out of receiving non-essential (promotional, marketing-related) communications from us on behalf of our partners, and from us in general, after setting up an account.</li>
      </ul>
    </div>
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Cookies</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>We use cookies to maintain session of your user. It is not used to personally identify you on other websites.</li>
      </ul>
    </div>
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Changes In Privacy Policy</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</li>
      </ul>
    </div>
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Payments</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>We use Razorpay for processing payments. We/Razorpay do not store your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is not saved. Our payment gateway adheres to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers. For more insight, you may also want to read terms and conditions of razorpay on https://razorpay.com</li>
      </ul>
    </div>
  </div>
</div>
