<div class="w-full bg-white py-6 md:py-8 px-4 sm:px-6 lg:px-20">
  <!-- Title section -->
  <h1
    class="capitalize text-xl/tight sm:text-2xl/tight md:text-3xl/tight lg:text-4xl/tight xl:text-5xl/tight font-semibold text-center text-b37800">
    Cancellation & Refund
  </h1>

  <div class="mt-4 md:mt-6 lg:mt-8 space-y-8">
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Refunds will be done in the following cases :</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>If refund is approved amount will be credited to customers account in 5-7days. We don't offer any returns.</li>
      </ul>
    </div>
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        No refunds will be given in the following cases :</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>Incorrect or outdated delivery address.</li>
        <li>Incorrect address format including any form of a PO Box address.</li>
        <li>After 3 failed delivery attempts by our courier agencies.</li>
        <li>Package refused by the recipient.</li>
        <li>Sizing issues. Please review our size guides carefully before making your purchase.</li>
        <li>Products returned in a used or damaged condition.</li>
        <li>If the Jewellery is not faulty or damaged.</li>
        <li>Minor color and design variations.</li>
      </ul>
      <p class="mt-2 text-818181 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed "><span class="font-bold pl-3">Note : </span>There may be some variation from the photographs on our website.</p>
    </div>
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Product Exchange</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>If customer receives a wrong item or an item they did not order they are eligible for an exchange. After receiving the returned item and verifying the issue, the entire amount will add into the customers wallet. The customer can use this amount for their next purchase on the website. The customer can exchange or return the products in 3 days after shipment delivered. After 3 days you are not eligible for return or exchange.</li>
      </ul>
    </div>
    <div>
      <p class="font-kaisei text-b37800 border-b border-dedede pb-2 font-normal text-base sm:text-lg md:text-xl lg:text-2xl xl:text-[26x] mb-3">
        Transit Insurance</p>
      <ul
        class="list-disc text-818181 space-y-2 text-xs/relaxed sm:text-sm/relaxed md:text-base/relaxed xl:text-[17px]/relaxed pl-6">
        <li>All goods will be fully insured by us until they reach you, so your purchase is 100% safe.</li>
      </ul>
    </div>
  </div>
</div>
