@import "tailwindcss";

@theme {
  --color-b37800: #B37800;
  --color-818181: #818181;
  --color-838383: #838383;
  --color-1c1c1c: #1c1c1c;
  --color-f9f9f9: #F9F9F9;
  --color-fffbe9: #FFFBE9;
  --color-454545: #454545;
  --color-f8f8f8: #F8F8F8;
  --color-4d4c4c: #4D4C4C;
  --color-eeeeee: #eeeeee;
  --color-222222: #222222;
  --color-d9d8d8: #D9D8D8;
  --color-dedede: #dedede;
  --color-9d9d9d: #9d9d9d;
  --color-fff2d7: #FFF2D7;
  --color-032b76: #032b76;
  --color-000000d9: #000000D9;
  --color-fec00f40: #FEC00F40;
  --color-ffeabe70: #FFEABE70;


  --font-kaisei: 'Kaisei Decol', serif;
  --font-lato: "Lato", sans-serif;
}

body{
  font-family: "Lato", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Kaisei Decol', serif;
}

